<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <link href="{{ asset('bundles/admin/bootstrap/css/bootstrap.css')}}" rel="stylesheet" />
    <link href="{{ asset('bundles/admin/theme/css/error.css')}}" rel="stylesheet" />
    <title>Cookie desabilidato</title>
</head>
<body class="page-404-full-page">

<div class="container">
    <div class="row">
        <div class="col-md-12 page-404">
            <h1 style="color:#ec213a ">
                Cookie desabilitado
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 page-404">
            <div class="details">
                <p class="text-muted" style="font-size: 2em; line-height: 1.2em; color: #636363" >Detectamos que o navegador que você está utilizando não possui suporte a Cookies ou está desabilitado.</p>
                <hr class="divider" />
                <p class="text-muted" style="font-size: 1.5em; line-height: 1em; color: #636363" >Para utilizar o Mambo WiFi é necessário usar um navegador com a funcionalidade de cookie habilitada.</p>

            </div>
        </div>
    </div>
</div>


</body>

</html>