        <li><b>Radius Server Address:</b>
            <ul>
                <li>{{ radius_server_one }}</li>
            </ul>
        </li>
        <li><b>Radius Server Address 2:</b>
            <ul>
                <li>{{ radius_server_two }}</li>
            </ul>
        </li>
        <li><b>Radius Server Shared Secret:</b>
            <ul>
                <li>{{ radius_server_secret }}</li>
            </ul>
        </li>

