{% extends 'AdminBundle:Admin:baseEmailTemplate.html.twig' %}

{% block header %}
    <tr>
        <td style="padding-left:30px;padding-bottom:10px;padding-right:30px;padding-top:20px;font-size:30px;line-height:48px;color:#ec213a;font-family:Arial;font-weight:bold; text-align: center;" colspan="2">

        </td>
    </tr>
{% endblock %}

{% block content %}
        <tr>
            <td style="padding-left:30px;padding-bottom:20px;padding-right:30px;padding-top:15px;font-size:16px;line-height:24px;color:#444444">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td style="padding-right:20px;padding-left: 20px;font-size:46px;line-height:46px;color:#444444;font-family:Arial;">
                            Olá, <a style="color: #ec213a; font-weight: bold; text-decoration: none;">{{ entity.company}}</a>.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-left:30px;padding-bottom:10px;padding-right:30px;padding-top:10px;">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td style="font-size:16px;padding-right:20px;padding-left: 20px;line-height:30px;color:#909090;font-family:Arial;">
                                Esse email contém todas as informações necessárias para você realizar a
                                configuração do seu equipamento Mikrotik utilizando o tutorial de configuração.
                                <br>
                                Caso ainda não tenha acessado o tutorial,
                                <a href="https://www.mambowifi.com/blog/area-tecnica/configuracao-do-wspot-em-equipamentos-mikrotik/" style="text-decoration: underline; color: #ec213a">clique aqui</a>.
                            </td>
                        </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-left:30px;padding-bottom:20px;padding-right:30px;">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                        <tr>
                            <td colspan="2" style="font-size:14px;padding-right:20px;padding-left: 20px;line-height:30px;color:#909090;font-family:Arial;">
                                As informações abaixo serão necessárias no passo 1 da sessão "Configurando os servidores Radius". <br>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size:14px;padding-right:20px;padding-left: 20px;line-height:30px;color:#909090;padding-top:10px;font-family:Arial;">
                                <strong>Servidor 1</strong><br>
                                Address: 54.207.48.161 <br>
                                Secret: wide$123
                            </td>

                            <td style="font-size:14px;padding-right:20px;padding-left: 20px;line-height:30px;color:#909090;padding-top:10px;font-family:Arial;">
                                <strong>Servidor 2</strong><br>
                                Address: 54.207.62.56 <br>
                                Secret: wide$123
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size:14px;padding-right:20px;padding-left: 20px;line-height:30px;padding-top:20px;color:#909090;font-family:Arial;">
                                Em anexo a este email, estão os arquivos necessários para finalizar o processo de configuração.
                                É o último passo do tutorial.
                            </td>
                        </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-left:30px;padding-bottom:10px;padding-right:30px;padding-top:10px;">
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td style="font-size:16px;padding-right:20px;padding-left: 20px;line-height:30px;color:#909090;font-family:Arial;">
                            Após configurar o equipamento, sugerimos a leitura
                            <a href="https://www.mambowifi.com/materiais/WSpot-Manual.pdf" style="text-decoration: underline; color: #ec213a">
                                desse material para configurar o seu Mambo WiFi
                            </a>.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
{% endblock %}

{% block footer %}
    <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td style="padding-right:10px;padding-left: 20px;font-size:16px;line-height:16px;color:#909090;font-family:Arial;">
                    Se precisar de ajuda, por favor entre em contato conosco pelo email
                    <a href="mailto:suporte@mambowifi.com" style="text-decoration: none; color: #ec213a">suporte@mambowifi.com</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block signature %}
    <table cellspacing="0" cellpadding="0" border="0">
        <tbody>
        <tr>
            <td style="padding-right:20px;padding-left: 20px;padding-bottom:10px;font-size:16px;line-height:16px;color:#444444;font-family:Arial;">Teremos o maior prazer em ajud&aacute;-lo.</td>
        </tr>
        <tr>
            <td style="padding-right:20px;padding-left: 20px;padding-bottom:10px;font-size:16px;line-height:16px;color:#444444;font-family:Arial;">Atenciosamente,</td>
        </tr>
        <tr>
            <td style="padding-right:20px;padding-left: 20px;font-size:16px;line-height:16px;color:#444444;font-family:Arial; font-weight: bold;">Equipe Mambo Wifi</td>
        </tr>
        </tbody>
    </table>
{% endblock %}