{% extends 'FrontendBundle::index.html.twig' %}


{% block container %}
     <section class="container singleBox">
        <div id="loginBox" class="boxes fullBox" style="display: block !important; min-height: 0 !important;">
            <div class="box-content">
                <h3>Preview concluído</h3>

                <div class="content-center">
                    <p>
                        O fluxo de experiência de jornada do usuário foi finalizado.
                    </p>
                    <p>
                        Este é o momento onde o visitante da rede WiFi é redirecionado para se autenticar no equipamento da rede.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}