<!DOCTYPE html>
<html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <title>{%  block title %} Limite de envio de SMS atingido {% endblock %}</title>
</head>
<body>
<table cellspacing="0" bgcolor="#f1f1f1" align="center" width="100%" style="background-color:#f1f1f1;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px">
    <tbody>
    <tr>
        <td bgcolor="#f1f1f1" align="center" style="background-color:#f1f1f1;padding-right:20px;padding-top:0;padding-left:20px;padding-bottom:20px;text-align:center">
            <div align="center" style="max-width:800px;margin-top:0;margin-right:auto;margin-bottom:0;margin-left:auto;padding-top:0;padding-right:10px;padding-bottom:0;padding-left:10px">
                <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" width="656" style="background-color:#ffffff;padding-bottom:0px;padding-right:0px;padding-top:0px;padding-left:0px;width:656px!important;max-width:800px;margin-bottom:0;margin-right:0;margin-top:0;margin-left:0;font-family:Arial;font-size:11px;color:#565656;text-align:left">
                    <tbody>
                    <tr>
                        <td bgcolor="#565656" width="100%" style="background-color:#f1f1f1">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f1f1f1" width="656" style="background-color:#f1f1f1">
                                <tbody>
                                <tr>
                                    <td align="right" width="182">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 11px; color: #909090; text-align: right;">
                                            <tbody>
                                            <tr>
                                                <td height="30" width="182"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="100%">
                            <table cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td style="padding-top:60px;padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#444444;font-family:Arial;">Olá Administrador, informamos que o limite de envio de SMS foi atingido.</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top:20px;padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#444444;font-family:Arial;">Lembrando que sua instalação Mambo WiFi ({{ client.domain }}.mambowifi.com) está no período de testes.</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top:20px;padding-right:20px;padding-left: 20px;font-size:18px;line-height:18px;color:#444444;font-family:Arial;">Caso tenha alguma dúvida, entre em contato conosco através do e-mail <a href="mailto:{{ financialEmail }}" style="text-decoration: none; color: #ec213a">{{ financialEmail }}</a></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top:30px;padding-right:20px;padding-bottom:10px;padding-left: 20px;font-size:18px;line-height:18px;color:#444444;font-family:Arial;">Teremos o maior prazer em ajud&aacute;-lo(a).</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right:20px;padding-left: 20px;padding-bottom:10px;font-size:18px;line-height:18px;color:#444444;font-family:Arial;">Atenciosamente,</td>
                                    </tr>
                                    <tr>
                                        <td style="padding-right:20px;padding-left: 20px;padding-bottom:60px;font-size:18px;line-height:18px;color:#444444;font-family:Arial; font-weight: bold;">Equipe Mambo WiFi</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f1f1f1" width="100%" style="background-color:#f1f1f1;padding-bottom:20px;text-align: center;">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f1f1f1" width="656" style="background-color:#f1f1f1; border-bottom: 1px solid #e5e5e5;">
                                <tbody>
                                <tr>
                                    <td align="center">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f1f1f1" width="100%" style="background-color:#f1f1f1;padding-bottom:30px;padding-top:10px; text-align: center;">
                            <table cellspacing="0" cellpadding="0" border="0" bgcolor="#f1f1f1" width="656" style="background-color:#f1f1f1">
                                <tbody>
                                <tr>
                                    <td align="center">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 18px; font-weight:bold;color: #6d6d6d; text-align: center;">
                                            <tbody>
                                            <tr>
                                                <td style="padding-right:20px;padding-left: 20px;"><a href="http://www.mambowifi.com" target="_blank"><img src="https://www.mambowifi.com/email-template-images/logo-rodape.jpg" alt="Mambo WiFi - Conecte-se"></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
