{% block form_row %}
    {% spaceless %}
        {#<div class="{{  (form_errors(form)) ? 'error' : ''  }}">#}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {#</div>#}
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <p class="error help-block">
            {%- for error in errors -%}
                <span class="label label-important">{{ error.message }}</span>
            {%- endfor -%}
        </p>
    {%- endif %}
{%- endblock form_errors %}
