{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="module-permission">
        <h1>Desculpe, você não possui o campo <br>"E-mail" em seu formulário de cadastro.</h1>
        <h3>Ele é obrigatório para utilização deste módulo!</h3>
    </div>
{% endblock %}