{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="module-permission">
        <h1>Desculpe, ocorreu um erro :(</h1>
        <h3>Nossa equipe jรก foi notificada sobre o ocorrido.</h3>
    </div>
{% endblock %}