{% extends 'AdminBundle::layout.html.twig' %}

{% block content %}
    <div class="module-permission">
        <h1>Página em manutenção</h1>
        <h3>Estamos realizando alguns ajustes nessa página. Pedimos que aguarde até que a manutenção necessária seja realizada.</h3>
    </div>
{% endblock %}