{% extends 'AdminBundle::layout.html.twig' %}

{#{% block css %}#}
{#{% endblock %}#}

{% block content %}
    <h3 class="heading-mosaic">Estatísticas de Acessos</h3>

    <div class="box-generic">

    </div>
{% endblock %}

{#{% block javascript %}#}
{#{% endblock %}#}
