<div class="loadReportFiles">
    {% block exportar %}
    {% endblock %}
    <div id="listExport" style="display:none;">
        <table class="table table-bordered table-condensed table-striped table-primary table-vertical-center checkboxs">
            <thead>
            <tr>
                <th class="center" style="width: 330px">Nome do Arquivo</th>
                <th class="center" style="width: 200px">Link para Download</th>
            </tr>
            </thead>
            <tbody class="files">
            </tbody>
        </table>
    </div>
</div>
